@tailwind base;
@tailwind components;
@tailwind utilities;

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  color: #2d3748; /* Darker gray for better contrast */
}

.prose p {
  font-size: 1.125rem; /* Slightly larger font size for readability */
  line-height: 1.75; /* More line spacing */
}

.prose a {
  color: #2b6cb0; /* A more standard blue for links */
  text-decoration: none;
  font-weight: 600;
}

.prose a:hover {
  text-decoration: underline;
}

.prose ul > li::before {
    background-color: #4a5568;
}
